/* .darkBtn {
    height: 10px;
    right: 10px;
    left: 10px;
} */

.day {
    -webkit-animation-name: today;
    animation-name: today;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    background-color: #fff;
}

.night {
    -webkit-animation-name: tonight;
    animation-name: tonight;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    background-color: #292728;
    color: #ccc;
}

.night body {
    background-color: #838795;
}

@-webkit-keyframes today {
    from {
        background-color: #292728;
    }

    to {
        background-color: #fff;
    }
}

@keyframes today {
    from {
        background-color: #292728;
    }

    to {
        background-color: #fff;
    }
}

@-webkit-keyframes tonight {
    from {
        background-color: #fff;
    }

    to {
        background-color: #292728;
    }
}

@keyframes tonight {
    from {
        background-color: #fff;
    }

    to {
        background-color: #292728;
    }
}

.navbar {
    /* background-color: #333; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-item {
    float: left;
    display: flex;
    color: white;
    /* Set text color for the navbar links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    background: linear-gradient(to right, #003366, #66aaff);
    /* Set gradient color for text */
    -webkit-background-clip: text;
    /* Apply gradient only to text (webkit browsers) */
    background-clip: text;
    /* Apply gradient only to text (standard) */
    -webkit-text-fill-color: transparent;
    /* Make text transparent to show gradient */
}

/* #myImg{
    top: 5px;
} */

.navbar {
    /* background-color: #333; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.nav-item {
    float: left;
    display: flex;
    color: white;
    /* Set text color for the navbar links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    background: linear-gradient(to right, #003366, #66aaff);
    /* Set gradient color for text */
    -webkit-background-clip: text;
    /* Apply gradient only to text (webkit browsers) */
    background-clip: text;
    /* Apply gradient only to text (standard) */
    -webkit-text-fill-color: transparent;
    /* Make text transparent to show gradient */
}

/*/////////////////////////////////////////////////////////////////////////////////*/

.nameOfUser,.nameOfUser:hover {
    cursor: pointer;
}

.text {
    font-weight: 200px;
}

.dud {
    color: #757575;
}

/* Dark theme */
.icon-image:hover {
    cursor: pointer;
}

imag1 {
    transform: rotate(360deg);
}

/* .img1:hover {
    border: 2px solid;
    border-radius: 2px; */
    /*transform: rotate(angle);*/
    /* animation: rotate-btn 0.9s linear 1;
} */

/* @keyframes rotate-btn {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
} */

/*Dark theme Otion 1*/

/*            button{
                                radius:20px;
                            }*/

/*button, input, optgroup, select, textarea {*/
/*                margin: 20px;
                                font-family: inherit;
                                font-size: inherit;
                                line-height: inherit;
                            }*/

/* .darkBtn {
    height: 10px;
    right: 10px;
    left: 10px; */
    /* top:10px; */
/* } */

p {
    padding: 40px;
    /*font-family: 'VT323', monospace;*/
}

.day {
    -webkit-animation-name: today;
    animation-name: today;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    background-color: #fff;
}

.night {
    -webkit-animation-name: tonight;
    animation-name: tonight;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    background-color: #292728;
    color: #ccc;
}

.night body {
    background-color: #838795;
}

@-webkit-keyframes today {
    from {
        background-color: #252324;
    }

    to {
        background-color: #fff;
    }
}

@keyframes today {
    from {
        background-color: #292728;
    }

    to {
        background-color: #fff;
    }
}

@-webkit-keyframes tonight {
    from {
        background-color: #fff;
    }

    to {
        background-color: #292728;
    }
}

@keyframes tonight {
    from {
        background-color: #fff;
    }

    to {
        background-color: #292728;
    }
}

/*# sourceMappingURL=style.css.map */




#icon-me {
    font-size: 2rem;
}

.text {
    font-size: 45px;
}


/* Navbar  */